* {font-family: 'Martel', serif;}
img {
    display: block;
    max-width:400px;
    max-height:300px;
    width: auto;
    height: auto;
    border: solid #F7B32B 5px;
  }

body {
    background-color: #848586 ;
}

  h1 {
      text-align:center;
      background-color: #0FA3B1;
      color: white;
  }

  h2 {
      text-align: center;
      background-color: #0FA3B1;
      color: white
  }

  h3 {
      text-align: center;
      background-color: #2B2D42 ;
      color:white;
  }

  p1 {
      display: block;
      text-align: center;
      color:b;
      font-size: 64px;
      font-weight: bolder;
      background-image: url("https://acloserlisten.files.wordpress.com/2020/01/games-banner-1140x400-1.png");
      height: 200px
  }

  div1 {
      display: block;
      text-align: center;
      background-color: lightgray;
      box-sizing: content-box;
      width: 100%;
      height: 750px;

  }
  div1 > img{
      float: left;
  }

  div2 {
    display: block;
    text-align: center;
    background-color: lightgray;
    box-sizing: content-box;
    width: 100%;
    height: 750px;

}
div2 > img{
    float: right;
}
div3 {
    display: block;
    text-align: center;
    background-color: lightgray;
    box-sizing: content-box;
    width: 100%;
    height: 750px;

}
div3 > img{
    float: left;
}
div4 {
    display: block;
    text-align: center;
    background-color: lightgray;
    box-sizing: content-box;
    width: 100%;
    height: 800px;

}
div4 > img{
    float: right;
}
div5 {
    display: block;
    text-align: center;
    background-color: lightgray;
    box-sizing: content-box;
    width: 100%;
    height: 800px;

}
div5 > img{
    float: left;
}
div6 {
    display: block;
    text-align: center;
    background-color: lightgray;
    box-sizing: content-box;
    width: 100%;
    height: 400px;

}
div6 > img{
    float: right;
}
div7 {
    display: block;
    text-align: center;
    background-color: lightgray;
    box-sizing: content-box;
    width: 100%;
    height: 400px;

}
div7 > img{
    float: left;
}
div8 {
    display: block;
    text-align: center;
    background-color: lightgray;
    box-sizing: content-box;
    width: 100%;
    height: 400px;

}
div8 > img{
    float: right;
}
div9 {
    display: block;
    text-align: center;
    background-color: lightgray;
    box-sizing: content-box;
    width: 100%;
    height: 400px;

}
div9 > img{
    float: left;
}
div10 {
    display: block;
    text-align: center;
    background-color: lightgray;
    box-sizing: content-box;
    width: 100%;
    height: 400px;

}
div10 > img{
    float: right;
}

p2, p4, p6, p8, p10, p12, p14, p16, p18, p20 {
    font-weight: bolder;
}